<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
            
            <%= topic.user.name %>
            
              
            </h2>
            <%= image_tag topic.image.url %>
            <!--image_tag '〜.png(画像ファイル名)'ではないのか？-->
            <!--→topicテーブルのimageカラムの値をurlにしている-->
            
            <!--いいねボタンCSS切り替え課題-->
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
              <i class="fa fa-heart fa-2x like-btn"></i>
              <% end %>
            <% else %>
              <%= link_to destroy_path(topic_id: topic.id), method: :post do %>
              <i class="fa fa-heart fa-2x unlike-btn"></i>
              <% end %>
            <% end %>
            <!--いいね数を表示-->
            <%= topic.favorite_users.count %>
            
            <!--コメントフォームへ-->
            <%= link_to new_comment_path(topic_id: topic.id) do %>
            <!--(topic_id: topic.id)でコメントフォームにtopicのidを渡す-->
              <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <% end %>
            
            <p class="topic-text">
              <%= topic.description %>
            </p>
            
            <div class="topic-comment">
              <h4>コメント</h4>
                <% topic.comments.each do |comment| %>
                <!--topic（3行目に定義されている）、commentsはcommentsテーブルのcommentカラム内容を示す？-->
              <%= comment.comment %>
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>